
html {
  min-height:100%;
  background:linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/background.jpg);
  background-size:cover;
  }

body {
	margin: 0px;
	min-height: 100vh;
}

.site {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 50px
						          1fr
						          100px;
  grid-template-areas:
  	"nav nav"
  	"main sidebar"
  	"footer footer"
}

.nav {
    background-color: rgba(255, 0, 0, 0.3);
    grid-area: nav;

}

.main-content {
    background-color: rgba(0, 255, 0, 0.3);
    grid-area: main;
    justify-content: center;
}

.sidebar {
    background-color: rgba(255, 0, 255, 0.3);
    grid-area: sidebar;
}

.footer-content {
    background-color: rgba(0, 0, 255, 0.3);
    grid-area: footer;
}
